@model Modelo.Discente.Academico

<div class="card-body">
    <div class="form-group">
        <label asp-for="AcademicoID" class="control-label"></label>
        <br />
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </span>
            </div>
            <input asp-for="AcademicoID" class="form-control" disabled="disabled" />
        </div>
        <label asp-for="RegistroAcademico" class="control-label"></label>
        <br />
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </span>
            </div>
            <input asp-for="RegistroAcademico" class="form-control" disabled="disabled" />
        </div>
        <label asp-for="Nome" class="control-label"></label>
        <br />
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </span>
            </div>
            <input asp-for="Nome" class="form-control" disabled="disabled" />
        </div>
        <label asp-for="Nascimento" class="control-label"></label>
        <br />
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </span>
            </div>
            <input asp-for="Nascimento" class="form-control" disabled="disabled" />
        </div>
    </div>
</div>